<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="template"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>suppliers</title>
</head>
<body>
<main layout:fragment="content">
    <table class="table">
        <tr><th>ID</th><th>Name</th><th>email</th></tr>
        <tr th:each="supplier:${suppliers}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.email}"></td>
        </tr>
    </table>
</main>

</body>
</html>

